# Node / Next
FrontEnd/assinatura_front/node_modules/
FrontEnd/assinatura_front/.next/
FrontEnd/assinatura_front/out/

# Spring / Java
BackEnd/assinatura/target/
*.class

# IDE
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local